<!DOCTYPE html>
<html>
  <head>
    <title>{% block title%} {%endblock%}</title>
  </head>
  <body>
    <h1>Captain Toad's Storymaker</h1>
    <i><t>For people who like to talk by screaming "BAH BAH!" at the top of their lungs.</t></i>
    <br>
    <form action="/home">
        <input type="submit" value="Home">
      </form>
    <form action="/explore">
      <input type="submit" value="Explore!">
    </form>
    <form action="/renderCreate">
      <input type="submit" name="create_button" value="Create A New Story">
    </form>
    <form action="/logout">
        <input type="submit" name="logout" value="Logout">
    </form>
    <br>
    <br>
    <br>
    {% block content %} {% endblock %}
  </body>
</html>
