<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <h1>Captain Toad's Storymaker</h1>
    <i><t>For people who like to talk by screaming "BAH BAH!" at the top of their lungs.</t></i>
    <br>
    <br>
    Welcome to the Starshroom Homepage! Here, you can view stories you've worked on, work on other stories, make a new story, or log out.
    <br>
    <br>
    <form action="explore.html">
      <input type="submit" value="Explore!">
    </form>
    <form action="storyCreate.html">
      <input type="submit" name="create" value="Create A New Story">
    </form>
    <form action="/logout">
        <input type="submit" name="logout" value="Logout">
    </form>
  </body>
</html>
