<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
  </head>
  <body>
    <h1>Captain Toad's Storymaker</h1>
    <i><t>For people who like to talk by screaming "BAH BAH!" at the top of their lungs.</t></i>
    <br>
    <br>
    <h2>Log in to start creating!</h2>
    <form action="/login">
      Username: <input type="text" name="username"><br>
      Password: <input type="password" name="password"><br>
      {{ err }}
      <input type="submit" name="sub1">
    </form>
    <form action="/makeAcct">
    <input type="submit" name="signup1" value="No Account? Sign Up">
    </form>
  </body>
</html>
