<!DOCTYPE html>
<html>
  <head>
    <title>Make An Account Page</title>
  </head>
  <body>
    <h1>Captain Toad's Storymaker</h1>
    <i><t>For people who like to talk by screaming "BAH BAH!" at the top of their lungs.</t></i>
    <br>
    <br>
    <h2>Account Creation</h2>
    <form action="/signup">
      Username: <input type="text" name="username"><br>
      Password: <input type="password" name="password"><br>
      {{err}}
      <input type="submit" name="sub1">
    </form>
  </body>
</html>
