<!DOCTYPE html>
<html>
  <head>
    <title>Story Creation</title>
  </head>
  <body>
    <h1>Captain Toad's Storymaker</h1>
    <i><t>For people who like to talk by screaming "BAH BAH!" at the top of their lungs.</t></i>
    <br>
    <br>
    <h2>Story Creation</h2>
    <br>
    <form action="/publish">
      Title: <input type="text" name="title" value="BAH BAH!">
      <br>
      Story Text: <input type="text" name="story">
    </form>
    <br>
    <form action="homepage.html">
        <input type="submit" name="homepage" value="Homepage">
    </form>
    <form action="/logout">
      <input type="submit" name="logout" value="Logout">
    </form>
  </body>
</html>
